@model Dominio.Horarios

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Horarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aulas.IdAula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aulas.IdAula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materias.IdMateria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materias.IdMateria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesores.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesores.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turnos.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turnos.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cupo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
