@model Dominio.Correlatividades

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Correlatividades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DetMalla.IdDetmalla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetMalla.IdDetmalla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materias.IdMateria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materias.IdMateria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden_1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCorredet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
