@model IEnumerable<Dominio.TipoAula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wifi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wifi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTpaula }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTpaula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTpaula })
        </td>
    </tr>
}

</table>
