@model Dominio.Inscripciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inscripciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumno.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horarios.IdHorario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horarios.IdHorario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matricula.IdMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula.IdMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMallaAlum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMallaAlum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdInscripcion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
