@model IEnumerable<Dominio.HorarioExamen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aulas.IdAula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materias.IdMateria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profesores.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turnos.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aulas.IdAula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materias.IdMateria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profesores.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turnos.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdHorarioExamen }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdHorarioExamen }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdHorarioExamen })
        </td>
    </tr>
}

</table>
