@model Dominio.Examenes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Examenes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorExamen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorExamen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdExamen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
