@model IEnumerable<Dominio.Examenes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdInscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorExamen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdInscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorExamen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdExamen }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdExamen }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdExamen })
        </td>
    </tr>
}

</table>
