@model Dominio.Profesores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profesores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Barrio.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barrio.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfesorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
