@model IEnumerable<Dominio.Profesores>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Barrio.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SexoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Barrio.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SexoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProfesorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProfesorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProfesorId })
        </td>
    </tr>
}

</table>
