@model Dominio.DetMalla

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetMalla</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MallaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MallaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MateriaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MateriaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DetmallaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
