@model Dominio.MallaAlumnos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MallaAlumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MallaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MallaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlumnoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlumnoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InicioValidez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InicioValidez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinValidez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinValidez)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MallaaluId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
